@import "../font-awesome/dist/font-awesome.wxss";
.text-primary		{ color: #007bff !important; }
.text-secondary { color: #6c757d !important; }
.text-success		{ color: #28a745 !important; }
.text-danger 		{ color: #dc3545 !important; }
.text-warning 	{ color: #ffc107 !important; }
.text-info 			{ color: #17a2b8 !important; }
.text-light 		{ color: #f8f9fa !important; }
.text-dark 			{ color: #343a40 !important; }
.text-muted 		{ color: rgb(138,147,155) !important; }
.text-white 		{ color: #fff !important; }
.text-grey      { color: #ddd !important; }